<div class="min-h-screen p-4" [ngClass]="{ 'bg-gray-50': !isDarkMode, 'bg-gray-900 text-white': isDarkMode }">
  <div class="flex justify-between items-center mb-4">
    <!-- <h3 class="font-bold" [ngClass]="{ 'text-gray-900': !isDarkMode, 'text-white': isDarkMode }">
      {{ 'ADMIN.TITLE' | translate }}
    </h3> -->

    <!-- Optional: Dark Mode Toggle -->
    <!-- <button class="px-3 py-1 text-sm rounded-md" [ngClass]="isDarkMode ? 'bg-white text-gray-900' : 'bg-gray-900 text-white'" (click)="toggleDarkMode()">
      {{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}
    </button> -->
  </div>

  <!-- Breadcrumb -->
  <app-breadcrumb></app-breadcrumb>

  <!-- Dynamic Content Area -->
  <div class="mt-4">
    <router-outlet></router-outlet>
  </div>
</div>