<div class="dialog-container p-3 p-md-4" *ngIf="order$ | async as order">
  <!-- Header -->
  <div class="modal-header mb-4 d-flex justify-content-between align-items-center">
    <!-- <h5 class="modal-title fw-bold">{{ 'SALESORDERITEMS.TITLE' | translate }}</h5> -->
    <h5 class="modal-title fw-bold">
      {{
        order.orderTypeId == 1 ?
          'تفاصيل طلب الشراء' :
          'تفاصيل طلب البيع'
      }}
    </h5>

    <div class="d-flex align-items-center gap-3">
      <!-- Status Badge -->
      <div class="mb-0">
        <span class="badge rounded-pill px-3 py-2 d-inline-flex align-items-center"
          [style.background-color]="status.statusColor">
          <i class="bi bi-circle-fill me-2 small"></i>
          <!-- {{ lang.currentLang === 'ar' ? status.nameAr : status.nameEn }} -->
            {{ status.nameAr  }}
        </span>
      </div>
      <!-- Optional: Show completed message if order is already completed -->
      <ng-container *ngIf="status?.statusCode === 'COMPLETED'">
        <span class="text-success d-flex align-items-center gap-1">
          <i class="bi bi-check-circle-fill"></i>
          <!-- <span>{{ 'STATUS.COMPLETED' | translate }}</span> -->
          <span>مكتمل</span>
        </span>
      </ng-container>

      <button class="btn btn-outline-dark" (click)="printOrder()" *ngIf="items.length > 0">
        <i class="bi bi-printer me-1"></i>
      </button>
    </div>
  </div>

  <!-- Form -->
  <div class="modal-body" *ngIf="orderForm" [formGroup]="orderForm">
    <!-- Order Info -->
    <div class="row g-3 mb-4">
      <!-- Order Date -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="floating-label-input">
          <input type="date" class="form-control" id="orderDate" formControlName="orderDate" placeholder=" " />
          <!-- <label>{{ 'SALESORDERITEMS.ORDERDATE' | translate }}</label> -->
          <label>تاريخ الطلب</label>
        </div>
      </div>

      <!-- Customer -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="floating-label-select">
          <select class="form-select" id="customerId" formControlName="customerId">
            <option value="">Select Customer</option>
            <option *ngFor="let customer of customers" [value]="customer.id">
              <!-- {{ lang.currentLang === 'ar' ? customer.nameAr : customer.nameEn }} -->
                {{ customer.nameAr }}
            </option>
          </select>
          <!-- <label>{{ 'SALESORDERITEMS.CUSTOMER' | translate }}</label> -->
          <label>الزبون</label>
        </div>
      </div>

      <!-- Total Amount -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="floating-label-input">
          <input type="number" class="form-control" formControlName="totalAmount" readonly placeholder=" " />
          <!-- <label>{{ 'SALESORDERITEMS.TOTALAMOUNT' | translate }}</label> -->
          <label>المبلغ الاجمالي</label>
        </div>
      </div>
    </div>

    <!-- Add Item Button -->
    <!-- <div class="row mb-3">
      <div class="col-md-6">
        <button *ngIf="status.statusCode == statusEnum[statusEnum.PENDING] || status.statusCode == null" type="button"
          class="btn btn-outline-primary mb-3" (click)="addItem()">
          <i class="bi bi-plus-circle"></i>
        </button>
      </div>
    </div> -->

    <!-- Items Table -->
    <div class="table-responsive mb-4">
      <table class="table table-bordered align-middle">
        <thead class="table-light">
          <tr>
            <!-- <th style="width: 20%;">{{ 'SALESORDERITEMS.CATEGORY' | translate }}</th>
            <th style="width: 10%;">{{ 'PRODUCTS.CODE' | translate }}</th>
            <th style="width: 30%;">{{ 'SALESORDERITEMS.PRODUCT' | translate }}</th>
            <th style="width: 15%;">{{ 'SALESORDERITEMS.UNIT' | translate }}</th>
            <th style="width: 8%;">{{ 'SALESORDERITEMS.QUANTITY' | translate }}</th>
            <th style="width: 10%;">{{ 'SALESORDERITEMS.sellingPrice' | translate }}</th>
            <th style="width: 10%;">{{ 'SALESORDERITEMS.SUBTOTAL' | translate }}</th>
            <th style="width: 7%;">{{ 'SHARED.ACTIONS' | translate }}</th> -->

            <th style="width: 20%;">التصنيف</th>
            <th style="width: 10%;">الكود</th>
            <th style="width: 30%;">المنتج</th>
            <th style="width: 15%;">الوحدة</th>
            <th style="width: 8%;">الكمية</th>
            <th style="width: 10%;">سعر البيع</th>
            <th style="width: 10%;">المجموع</th>
            <th style="width: 7%;">الاجراء</th>
          </tr>
        </thead>
        <tbody formArrayName="items">
          <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
            <td>
              <div class="p-1 min-w-150px">
                <select class="form-select" formControlName="subCategoryId">
                  <!-- <option value="">{{ 'SALESORDERITEMS.CATEGORY' | translate }}</option> -->
                  <option *ngFor="let cat of subCategories" [value]="cat.id">
                    <!-- {{ lang.currentLang === 'ar' ? cat.nameAr : cat.nameEn }} -->
                      {{ cat.nameAr }}
                  </option>
                </select>
              </div>
            </td>
            <td>
              <div class="p-1 min-w-100px">
                <input type="text" class="form-control" formControlName="code">
              </div>
            </td>
            <td>
              <div class="p-1 min-w-200px">
                <select class="form-select" formControlName="productId">
                  <!-- <option value="">{{ 'PURCHASEORDERSITEMS.PRODUCT' | translate }}</option> -->
                  <option value="">يرجى اختيار المنتج</option>
                  <option *ngFor="let product of products" [value]="product.id">
                    <!-- {{ lang.currentLang === 'ar' ? product.nameAr : product.nameEn }} -->
                      {{ product.nameAr }}
                  </option>
                </select>
              </div>
            </td>
            <td>
              <div class="p-1 min-w-120px">
                <select class="form-select" formControlName="unitId">
                  <option *ngFor="let unit of units" [value]="unit.id">
                    <!-- {{ lang.currentLang === 'ar' ? unit.nameAr : unit.nameEn }} -->
                      {{ unit.nameAr }}
                  </option>
                </select>
              </div>
            </td>
            <td>
              <div class="p-1 min-w-100px">
                <input type="number" class="form-control" formControlName="quantity" placeholder="0.00" min="0.01"
                  step="0.01">
              </div>
            </td>
            <td>
              <div class="p-1 min-w-100px">
                <input type="number" class="form-control" formControlName="sellingPrice" placeholder="0.00" min="0.01"
                  step="0.01">
              </div>
            </td>
            <td>
              {{ item.get('quantity')?.value * item.get('sellingPrice')?.value | currency }}
            </td>
            <td>
              <div class="p-1 text-center">
                <button [disabled]="status.statusCode == statusEnum[statusEnum.COMPLETED]" type="button"
                  class="btn btn-danger w-100" (click)="removeItem(i)">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Hidden Print Template -->
<div #printSection style="display: none;" *ngIf="orderForm" [formGroup]="orderForm">
  <div dir="rtl" class="p-4">
    <!-- Company Header -->
     <ng-container *ngIf="storeId">
       <app-company-header></app-company-header>
     </ng-container>

    <!-- Title -->
    <h4 class="text-center my-3">
      {{
        order.orderTypeId == 1 ?
          'طلب الشراء' :
          'طلب البيع'
      }}
      <!-- {{ 'SALESORDERITEMS.TITLE' | translate }} -->
    </h4>

    <!-- Order Info -->
    <div class="mb-3">
      <div class="row g-3">
        <!-- Order Date -->
        <div class="col-12 col-md-6">
          <div class="p-2 border rounded bg-light d-block">
            <!-- <strong>{{ 'SALESORDERITEMS.ORDERDATE' | translate }}:</strong> -->
             <strong>التاريخ: </strong>
            {{ orderForm.get('orderDate')?.value | date }}
          </div>
        </div>

        <!-- Customer Name -->
        <div class="col-12 col-md-6">
          <div class="p-2 border rounded bg-light d-block" *ngIf="order.orderTypeId == 2">
            <!-- <strong>{{ 'SALESORDERITEMS.CUSTOMER' | translate }}:</strong> -->
            <strong>الزبون: </strong>
            {{ getCustomerName(orderForm.get('customerId')?.value) }}
          </div>
          <div class="p-2 border rounded bg-light d-block" *ngIf="order.orderTypeId == 1">
            <!-- <strong>{{ 'SALESORDERITEMS.CUSTOMER' | translate }}:</strong> -->
            <strong>المورد: </strong>
            {{ getSupplierName(orderForm.get('supplierId')?.value) }}
          </div>
        </div>
      </div>
    </div>

    <!-- Items Table -->
    <table class="table table-bordered small">
      <thead>
        <tr>
          <th>#</th>
          <!-- <th>{{ 'SALESORDERITEMS.CATEGORY' | translate }}</th>
          <th>{{ 'SALESORDERITEMS.PRODUCT' | translate }}</th>
          <th>{{ 'SALESORDERITEMS.UNIT' | translate }}</th>
          <th>{{ 'SALESORDERITEMS.QUANTITY' | translate }}</th>
          <th>{{ 'SALESORDERITEMS.sellingPrice' | translate }}</th>
          <th>{{ 'SALESORDERITEMS.SUBTOTAL' | translate }}</th> -->

          <th>الصنيف</th>
          <th>رقم البيان</th>
          <th>المنتج</th>
          <th>الوحدة</th>
          <th>الكمية</th>
          <th>السعر</th>
          <th>المجموع</th>
        </tr>
      </thead>
      <tbody formArrayName="items" *ngIf="items">
        <tr class="text-center" *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
          <td class="text-center">{{ i + 1 }}</td>
          <td>{{ getCategoryName(item.get('subCategoryId')?.value) }}</td>
          <td>{{ getProductDescription(item.get('productId')?.value) }}</td>
          <td>{{ getProductName(item.get('productId')?.value) }}</td>
          <td>{{ getUnitName(item.get('unitId')?.value) }}</td>
          <td>{{ item.get('quantity')?.value }}</td>
          <td>{{ item.get('sellingPrice')?.value }}</td>
          <td>{{ item.get('quantity')?.value * item.get('sellingPrice')?.value | currency }}</td>
        </tr>
        <!-- Total Row -->
        <tr>
          <!-- <td colspan="6" class="text-end"><strong>{{ 'SALESORDERITEMS.TOTALAMOUNT' | translate }}</strong></td> -->
          <td colspan="6" class="text-end"><strong>الاجمالي</strong></td>
          <td class="text-center"><strong>{{ orderForm.get('totalAmount')?.value | currency }}</strong></td>
        </tr>
      </tbody>
    </table>

    <!-- Company Footer -->
     <ng-container *ngIf="storeId">
       <app-company-footer></app-company-footer>
     </ng-container>
  </div>
</div>
</div>

