<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <PublishMethod>MSDeploy</PublishMethod>
        <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
        <DeployIisAppPath>lsvisoin-002-site2</DeployIisAppPath>
        <MSDeployServiceUrl>https://win9073.site4now.net:8172/msdeploy.axd?site=lsvisoin-002-site2</MSDeployServiceUrl>
        <DeployTarget>MsDeployPublish</DeployTarget>
        <UserName>lsvisoin-002</UserName>
        <Password>LS_Vision@7584</Password>
        <AllowUntrustedCertificate>true</AllowUntrustedCertificate>
    </PropertyGroup>
</Project>