<?xml version="1.0" encoding="utf-8"?>
<!-- Converted to the MSBuild-friendly format so it can be used with dotnet publish -->
<Project ToolsVersion="Current" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProfile>Warehousing</PublishProfile>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebApp</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <TargetFramework>net9.0</TargetFramework>
    <RuntimeIdentifier></RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <ZipDeployUseChecksum>true</ZipDeployUseChecksum>
    <PublishUrl>https://warehouse-gfgce9dheeecfgek.scm.canadacentral-01.azurewebsites.net:443</PublishUrl>
    <DestinationAppUrl>https://warehouse-gfgce9dheeecfgek.canadacentral-01.azurewebsites.net</DestinationAppUrl>
    <SiteName>Warehouse</SiteName>
    <UserName>$Warehouse</UserName>
    <Password>qMEpxs5kwovAeFWr5BEG3X7BwszTo7gJHTmPkWpADAgbvZS4jsXTmJmcfHXQ</Password>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <EnableMSDeployBackup>false</EnableMSDeployBackup>
    <EnableMSDeployAppOffline>true</EnableMSDeployAppOffline>
    <UserFullName>Azure App Service</UserFullName>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployServiceURL>warehouse-gfgce9dheeecfgek.scm.canadacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <ResourceGroup />
  </PropertyGroup>
</Project>